### Warmups 

- Import pandas
- Make a series of the heights in inches of the people at your table, indexed by their first names

In [4]:
# import pandas 
import pandas as pd 
heights_dict= { ##Heights are in inches 
    'Ahbi' : 68,
    'Jack': 74,
    'Pippa': 65,
    'Carson': 73,
    }
height_series = pd.Series(heights_dict)
print(height_series)

Ahbi      68
Jack      74
Pippa     65
Carson    73
dtype: int64

### From Series to DataFrames

#### Via an A/B test

In the next few classes, we will analyze data from a (fictitious) company "Pizza Planet" considering two versions of a possible online ad. One version of the ad focues on how Pizza Planet offers low-cost. Another focuses on how Pizza Planet uses high-quality ingredients.

### Warm up 

Your friend asks you for advice on picking between different possible ads for their business. How would your suggest deciding which ads to run? How would you tell if one ad campaign is better than another?

## Data from the campaign

- Planet Pizza runs 10,000 ads and gets the results in `ads.csv`
- upload the file from Canvas to collab and run the following cell to load it in

In [2]:
import pandas as pd 

df = pd.read_csv("ads.csv")

df

               ad  click
0     ingredients   True
1     ingredients   True
2            cost   True
3     ingredients   True
4     ingredients   True
...           ...    ...
9995         cost   True
9996         cost   True
9997         cost  False
9998  ingredients   True
9999         cost  False

[10000 rows x 2 columns]

- What do you notice? 
- How many observations are in what you are looking at? 
- How many fields or features are in each observation?

### Check in

Why does what you see on screen show a "..." in the middle?

In [ ]:
type(df)

### Check in

Based on this data frame, do you think ingredients ad or cost ad is more effective?

What steps would you take to figure that out using this data? (Even if you don't know the commands yet in pandas.)

[Your thoughts here]

### A strategy for answering

To answer these questions we will need to use the Pandas API and little bit of quantitative reasoning. 

### What is a data frame? 

- A Series is a 1D collection of observations
- A DataFrame is a 2D collection of observations. You can think of it as a generalization or extension of a series

#### Indexes 

- Like a series, a DataFrame has an index. 
- Where a Series has indexes into individual obserations (i.e. names each obserbation), in a DataFrame the index labels each row number.
- If you hear "index" for a DataFrame, think rows.

#### Column names

- Additionally, because a DataFrame is 2D, a DataFrame has columns.
    - The column names are "indexes" along the second dimension of a DataFrame. But in the Pandas way of thinking, they are separate (use different syntax).

### Getting to know your data 

Pandas has a number of methods for getting to know your data. Experiment with each of the following methods using the `df` data frame and try to figure out what they do

In [ ]:
### Getting to know your data 

- `df.head()`
- `df.sample(5)`
- `len(df)`
- `len(df.colums)`
- `df.dtypes`
- `df.index`

### Check in

- What are the column names of `df` above?
- What is the index? 

Print these things out programmatically using code!

[Your code here]

### Creating a DataFrame

There are lots of ways to make a DataFrame. Often in this class we will read them in from files using the `read_csv` method. But there are lots of other ways. Review the [documentation](https://pandas.pydata.org/pandas-docs/dev/reference/io.html) to investigate a few more.

In [ ]:
# my personal favorite way, because I can remember it :) 

data = []

data.append({"customernumber": "13", "sales": 44})
data.append({"customernumber": "22", "sales": 14})

pd.DataFrame(data)

[What are some ways to create a DataFrame?]

In [ ]:
# Try creating your own data frame from a dataset on Kaggle

### Hello group by

One very, very common operation in data analysis is grouping data and then running a function to aggregate the groups.  If you have taken classes in SQL or databases or Alteryx you have probably seen something like this. This pattern is sometimes called ["split-apply-combine"](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html): you split the data into groups, apply a function to each group and then combine the results into a new dataframe.

- In the code below we group by "ad," apply the count function to each group (which counts up how many are in the gropu) and then pandas combines the result in to a new dataframe

In [ ]:
results = df.groupby(['ad']).count() # splits by ad, applys the count, combines to new df

results

             click
ad
cost          5100
ingredients   4900

In [ ]:
type(results)

pandas.core.frame.DataFrame

One annoying "feature" of pandas is hierarchical indexes. If you run a group by pandas will create a new index for your dataframe. I don't ever use these (and many people also don't ever use these) so I find the easiest thing is to just always call `reset_index` on the dataframe to flatten the index

In [ ]:
df.groupby(['ad']).count().reset_index()

            ad  click
0         cost   5100
1  ingredients   4900

In [ ]:
df.groupby(['ad']).count().reset_index().index

RangeIndex(start=0, stop=2, step=1)

In [ ]:
df.groupby(['ad']).count().index  # without reset index

Index(['cost', 'ingredients'], dtype='object', name='ad')

Why is this code throwing an error?

In [ ]:
df.groupby(['ads']).mean()

KeyError: ignored

### Experiment with some other aggregation functions

- https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html